body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#summary, #roundResults {
    display: none;
}

#roundResultsList div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}
